/*
	get the breakpoints from the framework
*/
html {
  font-size: 100%; }

/*  	setting the html font size for REM units
	setting the body font size for EM units and responsive calls
	percent font size preserves browser settings
*/
body {
  font-family: Helvetica, sans-serif; }

@media only screen and (min-width: 0) and (max-width: 30rem) {
  body {
    font-size: 85%; } }
@media only screen and (min-width: 45rem) {
  body {
    font-size: 90%; } }
@media only screen and (min-width: 60rem) {
  body {
    font-size: 100%; } }
@media only screen and (min-width: 80rem) {
  body {
    font-size: 115%; } }
* + * {
  margin-top: .8em; }

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  font-weight: 700;
  margin-bottom: .5rem; }

/* manually computer 1.2x base font size */
h1 {
  font-size: 2.48832em; }

h2 {
  font-size: 2.0736em; }

h3 {
  font-size: 1.728em; }

h4 {
  font-size: 1.44em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1em; }

p {
  font-size: 1em;
  line-height: 1.4; }

p ~ p {
  margin-bottom: 2rem; }

ul, ol, dl {
  margin-top: 2rem; }

dt {
  font-weight: bold; }

dd {
  font-style: italic;
  margin-bottom: 1rem;
  margin-top: .5rem; }

li {
  margin-top: .5rem; }
